*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 400;
    color: #2c2c2c; 
}

header{
    padding: 10px 60px;
}

header h1{
    font-size: 64px;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 20px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 16px 0;
    font-size: 20px;
}

nav a{
    font-size: 20px;
    color: #2c2c2c;
    text-decoration: none;
}

nav a.active{
    color: #d1630f;
}

main {
    padding: 0 60px;
}
 
section {
    margin-bottom: 40px;
}
 
section h2 {
    font-size: 32px;
    font-weight: 600;
    color: #1a1a1a;
    margin-bottom: 15px;
}
 
.inf img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
}
 
.inf p {
    font-size: 20px;
    line-height: 1.5;
}
 
.advantages ul {
    list-style-type: disc;
    padding-left: 40px;
}
 
.advantages li {
    font-size: 20px;
    line-height: 2;
}

.top-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.top-table th,.top-table td {
    padding: 16px;
    border: 1px solid #2c2c2c;
    text-align: center;
}

footer {
    background-color: #0b0b0b;
    color: white;
    padding: 30px 60px;
    font-size: 18px;
    flex-shrink: 0;
}

footer a.phone {
    color: white;
    text-decoration: none;
}

@media (max-width:800px) {
    .inf img {
        width: 500px;
    }

    nav {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    header h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a{
        font-size: 24px;
    }

    .inf img {
        width: 100%;
    }

    .top-table {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .top-table {
        font-size: 10px;
    }
}